export default function ActionButton({

    solicitacao,

    onAction

}) {

    const botoes = {

        SOLICITADO: {

            texto: "Movimentar",

            cor: "bg-slate-700 hover:bg-slate-800"

        },

        AGUARDANDO: {

            texto: "Iniciar Lavagem",

            cor: "bg-amber-500 hover:bg-amber-600"

        },

        EM_LAVAGEM: {

            texto: "Finalizar",

            cor: "bg-blue-600 hover:bg-blue-700"

        },

        FINALIZADA: {

            texto: "Ver detalhes",

            cor: "bg-slate-900 hover:bg-black"

        }

    };

    const botao = botoes[solicitacao.status];

    return (

        <button

            onClick={() => onAction?.(solicitacao)}

            className={`

                w-full

                h-12

                rounded-xl

                text-white

                font-semibold

                transition-all

                duration-300

                ${botao.cor}

            `}

        >

            {botao.texto}

        </button>

    );

}